# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Database
*.db

# Logs
logs.txt
server_logs_*.txt
logs/

# Secrets
aau_database_creds.txt
secret_api_keys/
jwt_high_keys/

# Sensitive files
cookies.txt
*.key
*.pem

# Zip/tools
*.zip

# IDE
.vscode/
.idea/
# System files
.DS_Store

# Wordlists (important for security projects)
static/wordlists/

# Backup / temp files
*.bak
*.tmp

# Flask session / runtime files (if used)
flask_session/
instance/
